.footer {
    background-color:#4e77e3;
    padding:40px;
    display: flex;
    align-items:left;
    color: white;
    justify-content: left;
}

.footerRight {
    width: 380px;
    padding-left: 100px;
}