.header {
    display: flex;
    background-color:#4e77e3;
    padding: 15px;
    align-items: center;
}

.imgContainer {
    flex-grow: 2;
}
.name{
    color: white;
    font-weight: bold;
    font-size:x-large;
    
}

.heading {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
}

.btnContainer {
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
}

.selected {
    border-bottom: 1px solid white;
}