.mockHome {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
}

.mockLeft {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mockRight {
    width: 100%;
}

.mockHeading {
    padding-top : 10px;
    padding-bottom: 10px;
    color: #4e77e3;
    font-size: 50px;
}

.mockIntro {
    padding-top : 10px;
    padding-bottom: 20px;
    color: #4e77e3;
    font-size: 20px;
    width: 500px;
}

.mockTableContainer {
    padding-top : 50px;
    padding-bottom: 0px;
    padding-left: 60px;
    padding-right: 60px;
}

.mockInterviewerContainer {
    align-items: center;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    
}

.mockICHeading {
    align-items: center;
    font-size: 25px;
    padding: 5px;
    /* margin: 10px; */
    margin-left: 35%;
    margin-right: 40%;
    width: 50%;
}

.inputContainer {
    align-items: center;
    padding: 5px;
    display: block;
    margin-left: 35%;
    margin-right: 40%;
    width: 50%;
}
.submit {
    align-items: center;
    padding: 5px;
    display: block;
    margin-left: 43%;
    margin-right: 40%;
    
}

.mockLiveFlex {
    display: flex;
    justify-content: space-evenly;
}

.mockAvatarContainer {
    text-align: center;
    margin: 10px;
}

.alignCenter {
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

.mockDoclink {
    width: 600px;
    
}